<div class="row cards-container cards-container--horizontal">
    <div class="card-deck">
        {% if recommendations is defined %}
            {% for recommendation in recommendations %}
                {% include '@ezdesign/block_item/personalized/list.html.twig' %}
            {% endfor %}
        {% endif %}
    </div>
</div>

{% include 'EzRecommendationClientBundle::event_tracking.html.twig' %}
